/*Fonts*/
@font-face {
    font-family: Gilroy;
    font-weight: 400;
    src: url("../fonts/Gilroy/Gilroy-Regular.otf") format("opentype");
}

@font-face {
    font-family: Gilroy;
    font-weight: 600;
    src: url("../fonts/Gilroy/Gilroy-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: Gilroy;
    font-weight: 700;
    src: url("../fonts/Gilroy/Gilroy-bold.otf") format("opentype");
}

/*Basis stijl van de website*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*Stijl van de hele website*/
html, body{
  font-family: 'Gilroy';
  color: rgba(253, 252, 250, 1);
  background: rgba(37, 37, 37, 1);
}

/*Font groottes*/
h1{
  font-weight: 700;
  font-size: 5rem; /*80px*/
}

h2{
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-size: 1.875rem; /*30px*/
}

h3{
  font-weight: 600;
  font-size: 1.5rem; /*24px*/
}

p, li, a, .title{
  font-weight: 400;
  font-size: 1.5rem; /*24px*/
}

.text-p{
  max-width: 580px;
}

/*achtergrond afbeelding*/
.header{
  background-image: url("../images/index/header-phone.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  height: 100vh;
}

/*Opmaak navigatie*/
.navigatie {
  display: flex;
  list-style-type: none;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.navigatie-li {
  padding: 0.5rem;
  font-size: 1.125rem; /*18px*/
}

.special-li {
  background-color: #00B8C8; 
  border: none;
  border-radius: 50px;
  color: white;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/*Opmaak welkomstekst*/
.header-tekst{
  padding: 1rem 1rem 1rem 1rem;
}

.header-padding{
  padding-top: 1rem;
}

.header-padding-big{
  padding-top: 2rem;
}

.text-divider{
  text-align: center;
  padding: 3rem 0;
  margin: auto;
}

/*Dit is opmaak voor de afbeeldingen van de projecten op de homepagina*/
.container{
  position: relative;
  width: 90%;
  padding-bottom: 2rem;
}

.image {
  opacity: 1;
  display: block;
  height: auto;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.1;
}

.container:hover .middle {
  opacity: 1;
}

.image:hover{
  border-radius: 30%;
}

.text {
  background-color: #04AA6D;
  color: white;
  padding: 16px 32px;
}

/*Sectie projecten: lay-out*/
.images{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*Sectie favorieten: lay-out*/
.favorites{
  display: flex;
  padding: 0 0.8rem 0.8rem 0.8rem;
  justify-content: space-between;
  align-content: center;
}

.section-1{
  padding: 1rem 0;
}

/*sectie contact: tekst*/
.contact-text, .footer-text{
  text-align: center;
}

.contact-text{
  font-size: 1.7rem;
  padding-bottom: 3rem;
}

/*sectie footer: copyright*/
.footer-text{
  font-size: 0.75rem;
  padding: 1rem;
}