/*Phone: lay-out for bigger screens */
@media only screen and (min-width: 500px){
/*sectie: favorieten centreren*/
	.favorites{
		justify-content: center;
		gap: 30%;
	}
/*sectie: navigatie float right*/
	.navigatie{
		float: right;
	}

	.navigatie-li{
		padding: 1rem;
	}

	.special-li {
		margin-left: 1rem;
	}
/*Sectie: header afbeelding centreren*/
	.header{
		height: 160vh;
	}
}

/*Phone to iPad: tekst onder navigatie en divider met lijnen toevoegen*/
@media only screen and (min-width: 669px){
/*Sectie: zorgt dat de tekst onder de navigatie blijft*/
	.header-tekst{
		padding: 5rem 1rem 1rem 2rem;
	}

/*sectie: divider de lijnen*/
	.text-divider {
	  margin-left: 50px;
	  margin-right: 50px;
	  --text-divider-gap: 1rem;
	  display: flex;
	  align-items: center;
	}

	.text-divider::before, .text-divider::after {
	  content: '';
	  height: 3px;
	  background-color: silver;
	  flex-grow: 1;
	}

	.text-divider::before {
	  margin-right: var(--text-divider-gap);
	}

	.text-divider::after {
	  margin-left: var(--text-divider-gap);
	}
/*Sectie: projecten naast elkaar zetten*/
	.images {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.container{
		width:50%;
		padding: 1rem;
	}
/*Sectie: contact email vergroten*/
	.contact-text{
  		font-size: 3rem;
  	}
}

/*IPad to Desktop: grotere afbeelding toevoegen*/
@media only screen and (min-width: 860px){
/*opmaak afbeelding desktop*/
	.header{
	  background-image: url("../images/index/header.png");
	  background-position: center center;
	  background-size: cover;
	  height: 130vh;
	}
/*Sectie: welkomstekst positioneren*/
	.header-tekst{
		padding: 20rem 1rem 1rem 5rem;
	}
/*Sectie: contact email vergroten*/
	.contact-text{
  		font-size: 5rem;
  	}
}